<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="File2XL.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="File2XL.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <File2XL.My.MySettings>
            <setting name="UseXls" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseXlsx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FieldDelimiters" serializeAs="String">
                <value>,;|	</value>
            </setting>
            <setting name="DefaultDelimiter" serializeAs="String">
                <value />
            </setting>
            <setting name="DeleteFileConfirm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteFileOnClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateStandardSheet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NbFrozenColumns" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NbLinesAnalyzed" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AutosizeColumns" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoveNULL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxColumnWidth" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="MinColumnWidth" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>False</value>
            </setting>
        </File2XL.My.MySettings>
        <File2XL.MySettings>
            <setting name="UseXls" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseXlsx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FieldDelimiters" serializeAs="String">
                <value>,;|	</value>
            </setting>
            <setting name="DefaultDelimiter" serializeAs="String">
                <value />
            </setting>
            <setting name="DeleteFileConfirm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteFileOnClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateStandardSheet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NbFrozenColumns" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NbLinesAnalyzed" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AutosizeColumns" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoveNULL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxColumnWidth" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="MinColumnWidth" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>False</value>
            </setting>
        </File2XL.MySettings>
    </applicationSettings>
</configuration>
